.work-step .info .box {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #f6f5f5;
	padding: 30px;
	margin-bottom: 20px;
	border: 2px solid white;
	border-radius: 6px;
	z-index: 1;
}
@media (max-width: 991px) {
	.work-step .info .box {
		flex-direction: column;
	}
}
.work-step .info .box::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	background-color: #ededed;
	z-index: -1;
	transition: var(--main-transition);
}
.work-step .info .box:hover::before {
	width: 100%;
	height: 100%;
}
.work-step .info .box img {
	width: 64px;
	margin-right: 30px;
}
@media (max-width: 991px) {
	.work-step .info .box img {
		margin: 0 auto 30px;
	}
}

.work-step .info .box .text h3 {
	margin: 0;
	font-size: 22px;
}
@media (max-width: 991px) {
	.work-step .info .box .text {
		text-align: center;
	}
}
.work-step .info .box .text p {
	line-height: 1.8;
	color: #777;
	margin: 10px 0 0;
	font-size: 18px;
}